<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <%- include('../partials/header') %>

    <section class="auth__section">
      <form action="/auth/sign-up" method="post" class="auth__form">
        <div class="row">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName" placeholder="First Name" required>
        </div>
        <div class="row">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" id="lastName" placeholder="Last Name" required>
        </div>
        <div class="row">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="row">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="row">
          <button type="submit" class="btn btn--green">Sign Up</button>
        </div>
      </form>
      <div class="sign__up__img">
        <figure>
          <img src="/img/sign.jpg" alt="">
        </figure>
      </div>
    </section>

    <%- include('../partials/flash') %>

</body>

</html>