<% pageTitle='Sign In' %>

  <%- include('../partials/head') %>

    <section class="auth__section">
      <div class="form__sect">
        <form action="/auth/sign-in" method="post" class="auth__form">
          <div class="row">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" data-error="Please enter a valid email">
            <div class="error__message" data-for="email"></div>
          </div>
          <div class="row">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password"
              data-error="Please enter a password">
            <div class="error__message" data-for="password"></div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn--green">Submit</button>
          </div>
        </form>
        <p class="redirection">Don't have an account? Sign Up <a href="/auth/sign-up">here.</a></p>
      </div>
      <div class="sign__in__img">
        <figure>
          <img src="/img/sign.jpg" alt="">
        </figure>
      </div>
    </section>

    <script>

      const select = (selector) => document.querySelector(selector);

      const form = select('.auth__form');

      const fields = [
        select('#email'),
        select('#password'),
      ];

      form.addEventListener('submit', (e) => {
        e.preventDefault();

        const { complete } = checkForm();

        if (complete) {
          form.submit();
        } else {
          window.scrollTo(0, 0);
        }
      });

      const checkElement = (el) => {
        let complete = true;

        const isEmailValid = (email) => {
          return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)
        }

        if (el.value.trim() === '') {
          complete = false;
        } else {
          complete = true;
        }

        if (el.name === 'email') {
          const emailValid = isEmailValid(el.value);

          if (!emailValid) {
            complete = false;
          }
        }

        return complete;
      }

      const checkForm = () => {
        let complete = true;

        fields.forEach(field => {
          const el = checkElement(field);
          const err = select(`[data-for="${field.name}"]`);
          err.style.display = 'none';
          err.textContent = '';

          if (!el) {
            complete = false;

            err.style.display = 'block'
            err.textContent = field.dataset.error;
          }
        })

        return { complete };
      }

    </script>

    <%- include('../partials/footer') %>