<% pageTitle='Sign In' %>

  <%- include('../partials/head') %>

    <section class="auth__section">
      <div class="form__sect">
        <form action="/auth/sign-in" method="post" class="auth__form">
          <div class="row">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" required>
          </div>
          <div class="row">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
          </div>
          <div class="row">
            <button type="submit" class="btn btn--green">Submit</button>
          </div>
        </form>
        <p class="redirection">Don't have an account? Sign Up <a href="/auth/sign-up">here.</a></p>
      </div>
      <div class="sign__in__img">
        <figure>
          <img src="/img/sign.jpg" alt="">
        </figure>
      </div>
    </section>

    <%- include('../partials/footer') %>