<header class="header">
  <div class="logo">
    <h1>
      <a href="/" title="Back to the homepage">Tasty</a>
    </h1>
  </div>
  <nav class="navbar">
    <ul class="nav__menu">
      <li class="search">
        <button type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </li>
      <% if (!user) { %>
        <li class="sign__in">
          <a href="/auth/sign-in" class="btn btn--green"> Sign In </a>
        </li>
        <a href="/recipe/create" class="btn btn--teal create__btn">Create recipe</a>
        <% } else { %>
          <li class="profile">
            <a href="/user" title="My Profile">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
            </a>
          </li>
          <a href="/recipe/create" class="btn btn--teal create__btn">Create recipe</a>
          <li class="sign__out">
            <form action="/auth/sign-out" method="post">
              <button class="btn btn--red">Sign Out</button>
            </form>
          </li>
          <% } %>
    </ul>
  </nav>
  <button type="button" class="search mobile__search">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
    </svg>
  </button>
  <button type="button" class="burger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>
</header>

<section class="search__popup">
  <form action="/recipe/search" method="GET">
    <input type="text" id="searchText" name="searchText" placeholder="Search recipes..." title="Enter search term" />
  </form>

  <button type="button" class="close__search">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
      <path fill-rule="evenodd"
        d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
    </svg>
  </button>
</section>