<% pageTitle='Homepage' %> <%- include('./partials/head') %> <%-
include('./partials/header') %>

<a href="/recipe/create" class="btn btn--teal">Create recipe</a>

<h1>404 - Page Not Found</h1>

<%- include('./partials/footer') %>
