<% pageTitle='Homepage' %>
  <%- include('./partials/head') %>
    <%- include('./partials/header') %>

      <h1 class="error__page__title">500 - Something went wrong</h1>

      <%- include('./partials/footer') %>