<% pageTitle='Homepage' %>

  <%- include('./partials/head') %>

    <h2>Homepage</h2>

    <form action="/auth/sign-out" method="post">
      <button class="btn btn--red">Sign Out</button>
    </form>

    <a href="auth/sign-up" class="btn btn--teal">
      Sign Up
    </a>

    <a href="auth/sign-in" class="btn btn--green">
      Sign In
    </a>

    <%- include('./partials/footer') %>