<% pageTitle='Homepage' %>

  <%- include('./partials/head') %>

    <%- include('./partials/header') %>

      <h1 class="page__title">All recipes</h1>

      <%- include('./partials/recipe-grid') %>

        <%- include('./partials/footer') %>