<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <% if (user) { %>
    <h1>
      <%= user.firstName %>
        <%= user.lastName %>
    </h1>
    <% } else { %>
      <h1>no user</h1>
      <% } %>

        <h2>Homepage</h2>

        <form action="/auth/sign-out" method="post">
          <button>Sign Out</button>
        </form>

        <a href="auth/sign-up">
          Sign Up
        </a>

        <a href="auth/sign-in">
          Sign In
        </a>

        <%- include('./partials/flash') %>
</body>

</html>