<% pageTitle='User Profile' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <h2>Profile</h2>

      <a href="/user/update-details">Update details</a>
      <a href="/user/update-password">Update password</a>
      <a href="/user/saved-recipes">Saved Recipes</a>
      <a href="/user/my-recipes">My Recipes</a>

      <%- include('../partials/footer') %>