<% pageTitle='Update Password' %>

  <%- include('../partials/head') %>

    <h2>Update Password</h2>

    <form action="/auth/sign-out" method="post">
      <button type="submit" class="btn btn--red">Sign Out</button>
    </form>

    <a href="/auth/sign-up" class="btn btn--teal">
      Sign Up
    </a>

    <a href="/auth/sign-in" class="btn btn--green">
      Sign In
    </a>

    <form action="/user/update-password?_method=PUT" method="post" class="update__user__form">
      <div class="row">
        <label for="currentPassword">Current Password</label>
        <input type="password" name="currentPassword" id="currentPassword" placeholder="Current password">
      </div>
      <div class="row">
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="New password">
      </div>
      <input type="hidden" name="id" value="<%=user.id%>">
      <button type="submit" class="btn btn--teal">Update password</button>
    </form>

    <%- include('../partials/footer') %>