:root {
  --light-green: #d9e0d9;
  --mid-green: #6c856f;
  --mid-dark-green: #102b13;
  --dark-green: #0d181a;
  --teal: #406267;
  --red: #bb3232;
  --title-font: 'Playfair Display', serif;
  --body-font: 'Dosis', sans-serif;
  --font-xlight: 200;
  --font-light: 300;
  --font-med: 400;
  --font-bold: 500;
  --font-xbold: 600;
  --fast-speed: all 0.3s ease;
  --mid-speed: all 0.7s ease;
  --slow-speed: all 1s ease;
}

html {
  scroll-behavior: smooth;
}

a {
  display: block;
  cursor: pointer;
}

a:focus {
  outline: 2px solid var(--dark-blue);
}

span {
  display: inline-block;
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  cursor: auto;
  font-family: var(--body-font);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--light-green);
  color: var(--dark-green);
}

.btn {
  position: relative;
  color: #fff;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-transition: var(--fast-speed);
  transition: var(--fast-speed);
  text-align: center;
  border-radius: 5px;
  font-family: var(--title-font);
  display: inline-block;
}

.btn.btn--green {
  background-color: var(--mid-green);
  -webkit-box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.15);
          box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.15);
}

.btn.btn--green:hover {
  background-color: #556857;
}

.btn.btn--green:focus {
  -webkit-transition: none;
  transition: none;
  outline: 2px solid var(--teal);
}

.btn.btn--green:active {
  background-color: #3f4f41;
}

.btn.btn--teal {
  background-color: var(--teal);
  -webkit-box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.15);
          box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.15);
}

.btn.btn--teal:hover {
  background-color: #304a4e;
}

.btn.btn--teal:focus {
  outline: 2px solid var(--mid-green);
}

.btn.btn--teal:active {
  background-color: #233538;
}

.btn.btn--red {
  background-color: var(--red);
  -webkit-box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.15);
          box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.15);
}

.btn.btn--red:hover {
  background-color: #a12a2a;
}

.btn.btn--red:focus {
  outline: 2px solid #7e2222;
}

.btn.btn--red:active {
  background-color: #7e2222;
}

img,
figure {
  width: 100%;
  height: 100%;
}

figure {
  overflow: hidden;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.flash {
  padding: 1rem 2rem;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 1000;
}

.flash.error {
  background-color: lightcoral;
}

.flash.info {
  background-color: lightskyblue;
}

.flash.success {
  background-color: lightgreen;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo h1 {
  font-size: 2rem;
  font-weight: var(--font-xbold);
  font-family: var(--title-font);
}

.header .logo .create__btn {
  margin-left: 1rem;
}

.header .navbar .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar .nav__menu > li {
  margin-right: 1rem;
}

.header .navbar .nav__menu > li:last-of-type {
  margin-right: 0;
}

.header .navbar .nav__menu > li.profile {
  padding: 0.5rem;
}

.header .navbar .nav__menu > li.profile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar .nav__menu > li.profile a svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--mid-dark-green);
}

.header .navbar .nav__menu > li.search form input {
  border-bottom: 1px solid rgba(16, 43, 19, 0.15);
  padding: 0.25rem;
  font-family: var(--title-font);
  color: var(--mid-dark-green);
  -webkit-transition: var(--fast-speed);
  transition: var(--fast-speed);
}

.header .navbar .nav__menu > li.search form input::-webkit-input-placeholder {
  color: var(--mid-dark-green);
}

.header .navbar .nav__menu > li.search form input:-ms-input-placeholder {
  color: var(--mid-dark-green);
}

.header .navbar .nav__menu > li.search form input::-ms-input-placeholder {
  color: var(--mid-dark-green);
}

.header .navbar .nav__menu > li.search form input::placeholder {
  color: var(--mid-dark-green);
}

.header .navbar .nav__menu > li.search form input:focus {
  outline: none;
  border-color: var(--mid-dark-green);
}

.auth__section {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.auth__section .auth__form {
  background-color: var(--light-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  color: var(--mid-green);
}

.auth__section .auth__form .row {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 0 1rem;
}

.auth__section .auth__form .row:last-of-type {
  margin-bottom: 0;
}

.auth__section .auth__form .row input {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  font-family: var(--title-font);
  color: var(--dark-green);
}

.auth__section .auth__form .row input:focus {
  outline: 2px solid var(--teal);
}

.auth__section .auth__form .row label {
  display: none;
}

.auth__section .auth__form .row .btn {
  width: 100%;
}

.update__user__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  color: var(--mid-green);
}

.update__user__form .row {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 0 1rem;
}

.update__user__form .row:last-of-type {
  margin-bottom: 0;
}

.update__user__form .row input {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  font-family: var(--title-font);
  color: var(--dark-green);
  -webkit-box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.1);
          box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.1);
}

.update__user__form .row input:focus {
  outline: 2px solid var(--teal);
}

.update__user__form .row input::-webkit-input-placeholder {
  opacity: 0.75;
}

.update__user__form .row input:-ms-input-placeholder {
  opacity: 0.75;
}

.update__user__form .row input::-ms-input-placeholder {
  opacity: 0.75;
}

.update__user__form .row input::placeholder {
  opacity: 0.75;
}

.update__user__form .row label {
  display: none;
}

.update__user__form .row .btn {
  width: 100%;
}

.update__user__form .row .btn:focus {
  -webkit-transition: none;
  transition: none;
}

.create__recipe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  color: var(--mid-green);
}

.create__recipe__form .row {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 0 1rem;
}

.create__recipe__form .row:last-of-type {
  margin-bottom: 0;
}

.create__recipe__form .row.categories label, .create__recipe__form .row.ingredients label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create__recipe__form .row.categories label .add, .create__recipe__form .row.ingredients label .add {
  cursor: pointer;
}

.create__recipe__form .row input,
.create__recipe__form .row select,
.create__recipe__form .row textarea {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  font-family: var(--title-font);
  color: var(--dark-green);
  -webkit-box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.1);
          box-shadow: 0px 5px 50px rgba(108, 133, 111, 0.1);
  border: 1px solid rgba(64, 98, 103, 0.2);
}

.create__recipe__form .row input:focus,
.create__recipe__form .row select:focus,
.create__recipe__form .row textarea:focus {
  border-color: var(--teal);
  outline: 1px solid var(--teal);
}

.create__recipe__form .row input::-webkit-input-placeholder,
.create__recipe__form .row select::-webkit-input-placeholder,
.create__recipe__form .row textarea::-webkit-input-placeholder {
  opacity: 0.75;
}

.create__recipe__form .row input:-ms-input-placeholder,
.create__recipe__form .row select:-ms-input-placeholder,
.create__recipe__form .row textarea:-ms-input-placeholder {
  opacity: 0.75;
}

.create__recipe__form .row input::-ms-input-placeholder,
.create__recipe__form .row select::-ms-input-placeholder,
.create__recipe__form .row textarea::-ms-input-placeholder {
  opacity: 0.75;
}

.create__recipe__form .row input::placeholder,
.create__recipe__form .row select::placeholder,
.create__recipe__form .row textarea::placeholder {
  opacity: 0.75;
}

.create__recipe__form .row .btn {
  width: 100%;
}

.recipe__card__grid {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.recipe__card__grid .recipe__card {
  position: relative;
}

.recipe__card__grid .recipe__card:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.recipe__card__grid .recipe__card .img {
  height: 20rem;
  position: relative;
}

.recipe__card__grid .recipe__card .img img {
  -webkit-transition: var(--fast-speed);
  transition: var(--fast-speed);
}

.recipe__card__grid .recipe__card .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #000, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  z-index: 1;
}

.recipe__card__grid .recipe__card .text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 1.5rem;
  z-index: 2;
}

.recipe__card__grid .recipe__card .text h3 {
  font-size: 1.75rem;
  font-family: var(--title-font);
}

.recipe__card__grid .recipe__card .text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe__card__grid .recipe__card .text ul li {
  margin-right: 1rem;
  text-transform: capitalize;
  position: relative;
}

.recipe__card__grid .recipe__card .text ul li::after {
  content: '|';
  position: absolute;
  top: 0;
  right: -0.65rem;
  opacity: 0.5;
}

.recipe__card__grid .recipe__card .text ul li:last-of-type {
  margin-right: 0;
}

.recipe__card__grid .recipe__card .text ul li:last-of-type::after {
  display: none;
}

@media only screen and (max-width: 950px) {
  .recipe__card__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .recipe__card__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.recipe__inner {
  max-width: 1024px;
  padding: 2rem;
  margin: 0 auto;
}

.recipe__inner .main__img {
  position: relative;
}

.recipe__inner .main__img .edit__btn {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.recipe__inner .main__img .img {
  height: 32rem;
  position: relative;
}

.recipe__inner .main__img .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
}

.recipe__inner .title {
  color: var(--dark-green);
  padding-top: 2rem;
}

.recipe__inner .title .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.recipe__inner .title .heading .save__form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
}

.recipe__inner .title .heading .save__form button svg {
  width: 100%;
  height: 100%;
  fill: var(--teal);
}

.recipe__inner .title .heading h1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  font-weight: var(--font-xbold);
  font-family: var(--title-font);
  position: relative;
}

.recipe__inner .title .heading h1::after {
  content: '';
  width: 50%;
  height: 1px;
  position: absolute;
  background-color: var(--dark-green);
  bottom: -0.5rem;
  left: 1rem;
}

.recipe__inner .title .summary p {
  padding-top: 1rem;
}

.recipe__inner .title .summary p a {
  color: var(--teal);
  -webkit-transition: var(--fast-speed);
  transition: var(--fast-speed);
  border-bottom: 1px solid var(--teal);
  display: inline-block;
  font-weight: var(--font-xbold);
}

.recipe__inner .title .summary p a:hover {
  color: var(--red);
  border-color: var(--red);
}

.recipe__inner .title .summary ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 1rem;
}

.recipe__inner .title .summary ul li {
  margin-right: 0.5rem;
}

.recipe__inner .title .summary ul li:last-of-type {
  margin-right: 0;
}

.recipe__inner .title .summary ul li a {
  -webkit-transition: var(--fast-speed);
  transition: var(--fast-speed);
  border-bottom: 1px solid transparent;
}

.recipe__inner .title .summary ul li a:hover {
  border-color: var(--red);
  color: var(--red);
}

.recipe__inner .details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 4rem;
  padding: 2rem 0;
}

.recipe__inner .details .content {
  font-size: 1.5rem;
  font-weight: var(--font-xlight);
}

.recipe__inner .details .sidebar .figures {
  padding-bottom: 2rem;
}

.recipe__inner .details .sidebar .figures li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.25rem;
}

.recipe__inner .details .sidebar .figures li span:first-of-type {
  font-weight: var(--font-xbold);
}

.recipe__inner .details .sidebar .ingredients h3 {
  font-size: 2rem;
  font-weight: var(--font-bold);
  font-family: var(--title-font);
  padding-bottom: 1rem;
}

.recipe__inner .details .sidebar .ingredients li {
  list-style: square;
  margin-left: 2.5rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: var(--font-xlight);
  text-transform: capitalize;
}
/*# sourceMappingURL=style.css.map */