<% pageTitle='Create Recipe' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <h2>Create Recipe</h2>

      <form action="/recipe/create" method="post" class="create__recipe__form" enctype="multipart/form-data">
        <div class="row">
          <label for="public">Make Public?</label>
          <select name="public" id="public">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <div class="row">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required>
        </div>
        <div class="row">
          <label for="serves">People serves</label>
          <input type="number" name="serves" id="serves" required>
        </div>
        <div class="row">
          <label for="difficulty">Difficulty</label>
          <select name="difficulty" id="difficulty">
            <option value="easy">Easy</option>
            <option value="intermediate">Intermediate</option>
            <option value="difficulty">Difficulty</option>
          </select>
        </div>
        <div class="row">
          <label for="cookTimeHours">Cook Time Hours</label>
          <input type="number" name="cookTimeHours" id="cookTimeHours" required>
          <label for="cookTimeMinutes">Cook Time Mins</label>
          <input type="number" name="cookTimeMinutes" id="cookTimeMinutes" required>
        </div>
        <div class="row">
          <label for="prepTimeHours">Prep Time Hours</label>
          <input type="number" name="prepTimeHours" id="prepTimeHours" required>
          <label for="prepTimeMinutes">Prep Time Mins</label>
          <input type="number" name="prepTimeMinutes" id="prepTimeMinutes" required>
        </div>
        <div class="row categories">
          <label for="categories">Categories <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="add" view-box="0 0 16 16">
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg></label>
          <input type="text" id="categories" name="categories">
        </div>
        <div class="row">
          <label for="image">Image</label>
          <input type="file" name="image" id="image">
        </div>
        <input type="hidden" name="userId" value="<%=user.id%>">
        <div class="row">
          <button class="btn btn--teal" type="submit">Create</button>
        </div>
      </form>

      <script>
        const categoryRow = document.querySelector('.row.categories')
        const add = document.querySelector('.row.categories .add')

        add.addEventListener('click', (e) => {
          const newInput = document.createElement('input');
          newInput.type = 'text';
          newInput.name = `categories`;
          newInput.id = `categories`;
          newInput.classList.add('categories')

          categoryRow.appendChild(newInput)
        });

      </script>

      <%- include('../partials/footer') %>