<% pageTitle='Cateogry Recipes' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <h1>Search recipes</h1>

      <%- include('../partials/recipe-grid') %>

        <%- include('../partials/footer') %>